body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 900px;
    margin: auto;
}

h1 {
    text-align: center;
}

.card,
.summary {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.summary {
    text-align: center;
}

.summary h3 {
    font-size: 30px;
}